/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/

    form label.sbs {
        padding: .4rem 0;
    }

    #addVehicleBtn {
        padding: .4rem 0;
    }

    #addClassBtn {
        padding: .4rem 0;
    }

} 

/* #inv-textarea {
    columns: 30;
} */

form label.top-detail {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}

form label.top-detail input, form label.top-detail select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 12vw;
    max-width: 12vw;
    background-color: rgba(0,0,0,0.1);
}


form label.top-search {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}

form label.top-search input.top-search, form label.top-search select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 20px;
    max-width: 20px;
    background-color: rgba(0,0,0,0.1);
}