/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


button:hover {
  opacity:1;
}


.signup {
  text-align: center;
  justify-content: center;
  margin: left;
  font-size: 1.5rem;
  font-weight: 600;
  color: #9c2c13;
}

.submitBtn:hover {
  background-color:#4c96d7;
}



/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 20rem;
}

/* --------------FORM------------- */

form fieldset {
    margin: 2rem 0;
    border: 1px solid 445ba9;
    border-radius: 10px;
    padding: .5rem;
}

form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5 rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    background-color: #0000FF;
    color: white;
    /* background-color:#4c96d7; */
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2 rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: solid 6px red;
}

form label.top input:required:valid {
    border-left: solid 6px green;
}

form select.top input:required {
    border-left: solid 6px red;
}

form select.top input:required:valid {
    border-left: solid 6px green;
}

#addVehicleBtn {
    border: none;
    background-color: #9c2c13;
    background-color: #0000FF;
    color: white;
    /* background-color:#4c96d7; */
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2 rem 2%;
    width: 96%;
    max-width: 20rem;
}

#addVehicleBtn:hover {
    background-color:#4c96d7;
  }

#addClassBtn {
    border: none;
    background-color: #9c2c13;
    background-color: #0000FF;
    color: white;
    /* background-color:#4c96d7; */
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2 rem 2%;
    width: 96%;
    max-width: 20rem;
}

#addClassBtn:hover {
    background-color:#4c96d7;
  }

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
